apiVersion: 1

datasources:
 - name: prometheus
   type: prometheus
   access: proxy
   orgId: 1
   url: http://localhost:9090
   uid: "164ed74e-612f-4b49-a5c0-ebdfc43cd079"
   isDefault: true
   version: 1
   editable: true
